html {
  background-image: url("../img/html-background.jpg");
}

body {
  font-family: Georgia;
  border: 12px solid black;
  margin-top: 20px;
  margin-bottom: 20px;
  min-width: 600px;
}

.container .banner {
  text-align: center;
  border: 5px solid #4c4c4c;
  height: 200px;
  margin-top: 75px;
  background-image: url("../img/banner-background.jpg");
  box-shadow: 0px 5px 10px black;
  font-family: inherit;
}

.banner {
  background-color: darkgray;
}

.banner img {
  width: 150px;
  height: 150px;
  position: relative;
  top: -75px;
}

.centered {
  position: absolute;
    top: 235px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.col-md-3 {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 0;
  background-image: url("../img/navbar-background.jpeg");
  font-weight: bold;
  box-shadow: 0px 5px 10px black;
}

.col-md-3 a {
  color: white;
}

body>.row {
  padding: 20px;
}

h2 {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  padding-bottom: 10px;
}

table {
  border: 3px solid black;
  width: 100%;
  margin-bottom: 20px;
  background-color: #e5e5e5;
}

td {
  text-align: center;
  font-size: 18px;
}

td:not([colspan]) {
  border: 1px solid gray;
  background-color: lightgray;
}

td .description {
  text-align: left;
  text-indent: 25px;
  padding-left: 20px;
  padding-right: 20px;
}

td h3 {
  margin-top: 10px;
}

.icons {
  text-align: center;
  margin-bottom: 20px;
}

.icons img {
  height: 100px;
  width: 100px;
}

footer {
  text-align: center;
  font-size: 18px;
  background-color: lightgray;
  border: 3px solid black;
  margin-bottom: 15px;
  padding-top: 10px;
}

.thumb {
  height: 200px;
  width: 300px;
  border: 3px solid black;
}

p {
  margin-top: 10px;
  font-size: 18px;
}

.row>p {
  text-indent: 50px;
}
